body {
  margin: 0px;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  color : white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
   color: #1ed760;
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content:space-around;
    align-items: center;
}

main {
  height: 960px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 50% 5%;
  display : flex;
  align-items: center;
  justify-content: center;
}


.nav-item {
    padding: 28px 17px;
    font-weight: 700;
}

.headline {
    font-size : 156px;
    font-weight: 900;
    color: #1ed760;
    position: relative;
    left: 150px;
    padding-bottom: 40px;
}

.headline-first {
    position: relative;
    left: -1.5em;
}

.headline-second {
    position: relative;
    left: 0.1em;
}

.sub-headline {
    color: #1ed760;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

.button-area{
    text-align: center;
}

.button-style{
    padding:14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}

.button-style:hover{
    transform:scale(1.1);
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: #121212;
    display: flex;
    padding: 80px 0 50px 0;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.footer-logo {
    flex-shrink: 0;
}

.footer-menus {
    display: flex;
    gap: 100px;
    flex: 1;
    margin-left: 80px;
}

.menu-column {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.menu-column-h4 {
    color: #919496;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 24px;
    margin-top: 0;
}

.menu-column-a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 500;
}

.menu-column-a-hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.social-icon {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #222322;
    display: flex;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 0.2s ease;
}

.social-icon:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.social-icon:hover svg {
    fill: #1ed760;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    border-top: 1px solid #292929;
    display: flex;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer-link {
    color: #919496;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.footer-link-hover {
    color: #1ed760;
    cursor: pointer;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.country-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #919496;
    font-size: 14px;
    text-decoration: none;
}

.country-selector-hover {
    color: #fff;
    cursor: pointer;
}

.footer-copyright {
    color: #919496;
    font-size: 12px;
}

